.nav {
    height: 10vh;
    
}
.nav li:hover {
    color: orange;
}

.nav h1 {
    color:  white;
}

.nav button {
    
    border-radius: 20px;
}



@media screen and (max-width: 600px) {
    .nav ul{
        display: none;
    }

    .nav button{
        display: none;
    }
}

